groq>=0.9.0
langchain>=0.3.0
langchain-core>=0.3.0
langchain-groq>=0.1.5
langchain-text-splitters>=0.3.0
langsmith>=0.1.100
matplotlib>=3.10.0
pydantic>=2.9.0
pydantic_core>=2.23.0
pymongo>=4.10.0
python-dateutil>=2.9.0
python-dotenv>=1.0.1
python-telegram-bot>=21.7
python-telegram-bot[job-queue]>=21.7
pytz>=2024.2
telegram==0.0.1
